// fonts.less
// CSS for @font-face embedded fonts.
// -----------------------------------------------------------------


// Verlag Black
// --------------------------------------------------

@font-face {
    font-family: 'VerBlack';
    src: url('assets/fonts/VerBlack/verblack-webfont.eot');
    src: url('assets/fonts/VerBlack/verblack-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/VerBlack/verblack-webfont.woff') format('woff'),
         url('assets/fonts/VerBlack/verblack-webfont.ttf') format('truetype'),
         url('assets/fonts/VerBlack/verblack-webfont.svg#verblack-webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

// Verlag Book
// --------------------------------------------------

@font-face {
    font-family: 'VerBook';
    src: url('assets/fonts/VerBook/verbook-webfont.eot');
    src: url('assets/fonts/VerBook/verbook-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/VerBook/verbook-webfont.woff') format('woff'),
         url('assets/fonts/VerBook/verbook-webfont.ttf') format('truetype'),
         url('assets/fonts/VerBook/verbook-webfont.svg#verbook-webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}
