// header.less
// CSS for the global header.
// -----------------------------------------------------------------

// HERO
// --------------------------------------------------

.page-id-14 header {
	background: url(assets/img/header/hero-noise-bg.jpg) repeat-x;
	height: 900px;
	margin-top: -200px;
	.hero {
		height: 900px;
		background: url(assets/img/header/hero-bg.jpg) no-repeat top center;
		background-attachment: fixed;
		overflow: hidden;
		.box-shadow(inset 0 -3px 3px rgba(0,0,0,.2));
		.art-header-inner {
			width: 100%;
			position: fixed;
			top: 322px;
			left: 50%;
			margin-left: -50%;
			-webkit-animation: le-fade .5s 0 1 ease-out;
			h1 {
				font-family: Requiem;
				color: #e5e2e1;
				font-weight: normal;
				text-align: center;
				margin-bottom: 70px;
				font-size: 116px;
				line-height: 116px;
				text-rendering: optimizeLegibility;
				.char1 { margin-right: 0.28em; }
				.char2 { margin-right: 0.24em; }
				.char3 { margin-right: 0.32em; }
				.char4 { margin-right: 0.36em; }
			}
		}
		p {
			font-family: GaramondItalicSub;
			font-weight: normal;
			color: #242b37;
			text-align: center;
			font-size: 24px;
			line-height: 28px;
			margin-bottom: 180px;
			-webkit-font-smoothing: antialiased;
			-webkit-animation: le-fade .5s 0 1 ease-out;
			span {
				font-size: 28px;
				font-family: GaramondSmItalicSub;
				-webkit-font-smoothing: subpixel-antialiased;
			}
			&.intro {
				width: 100%;
				position: fixed;
				top: 75px;
				left: 50%;
				margin-left: -50%;
				span {
					font-family: GaramondPremrPro-Subh;
					font-size: 21px;
					-webkit-font-smoothing: antialiased;
					font-variant: small-caps;
					letter-spacing: 0.05em;
				}
			}
		}
	}
}

.page-template-default header, .single-post header, .category header {
	background: url(assets/img/header/hero-noise-bg.jpg) repeat-x;
	height: 300px;
	a:hover {
		text-decoration: none;
	}
	.header {
		height: 300px;
		background: url(assets/img/page/page-header.jpg) no-repeat top center;
		h1 {
			font-family: Requiem;
			color: #e5e2e1;
			font-weight: normal;
			text-align: center;
			padding-top: 110px;
			font-size: 116px;
			line-height: 116px;
			text-rendering: optimizeLegibility;
			.char1 { margin-right: 0.28em; }
			.char2 { margin-right: 0.24em; }
			.char3 { margin-right: 0.32em; }
			.char4 { margin-right: 0.36em; }
		}
	}
}


@import "navigation.less";